body{
    background-color: lightblue;
    color: white;
}
#tupian {
    background: url('../images/fengjing.jpg') no-repeat center;
    background-size: contain;
    width: 300px;
    height: 500px;
    overflow: hidden;
}
.outline {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
}